<h1>Home page</h1>

<% @user.each do |u| %>
	<%= u.first_name + " " + u.last_name %>
	<a href="/users/<%= u.id %>">Show</a>
	<form action="/users/<%= u.id %>" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete">
	</form>
	<br>
<% end %>
<a href="/users/new">New User</a>